<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center">
        <img src="assets/icon/icone.png">
        <span>André Francisco</span>
        <ion-button color="light" fill="clear" size="small">
          <ion-icon slot="icon-only" name="arrow-down-outline"></ion-icon>
        </ion-button>
  
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="primary">
    <!--hello name="{{ name }}"></hello-->
    <!--p>Start editing to see some magic happen :)</p>

    <ion-button>GREAT IONIC BUTTON</ion-button-->


  </ion-content>
</ion-app>
