<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center">
        <img src="assets/icon/icone.png">
        <span>André Francisco</span>
        <ion-button color="light" fill="clear" size="small">
          <ion-icon slot="icon-only" name="arrow-down-outline"></ion-icon>
        </ion-button>
  
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">
    <!--hello name="{{ name }}"></hello-->
    <!--p>Start editing to see some magic happen :)</p>

    <ion-button>GREAT IONIC BUTTON</ion-button-->

      <div class="background">
        <div class="bank-information ion-text-center">
          <img class="qrcode" src="assets/icon/QR_CODE_2.png" alt="">
    
          <span>Banco <strong>000 - Nu Pagamentos S.A</strong></span>
          <span>Agência <strong>0000</strong></span>
          <span>Conta <strong>000000-0</strong></span>
        </div>
      </div>

  </ion-content>

  
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <!--18:00 do vídeo - problemas com esse elemento-->
    <!--swiper-container>
      <swiper-slide *ngFor="let option of options">
        <div class="container ion-text-left">
          <ion-icon [name] = 'option.icon'></ion-icon>
          <span>{{ option.text}}</span>
        </div>

      </swiper-slide>
    </!--swiper-container-->
      texto
  </ion-toolbar>
</ion-footer>


</ion-app>
